@font-face {
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('https://img.shingyu.cn/JetBrainsMonoRegular.woff2') format("woff2");
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    font-display: swap;
    src: url('https://img.shingyu.cn/HarmonyOS_Sans_SC_Regular.woff2') format("woff2");
}